body {
  background: #0f172a;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.card {
  background: #020617;
  padding: 25px;
  width: 320px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.remember {
  font-size: 14px;
}

.switch {
  margin-top: 10px;
  font-size: 14px;
}

#msg {
  margin-top: 10px;
  font-size: 14px;
}
